{{!-- this is the content that gets passed to the body in main-handlebars --}}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 class="jumbotron d-flex justify-content-center">Vox News Scraper</h1>
        <p class="lead">A scraper and note taker for Vox.com</p>
        <hr>
        {{!-- Scrape button --}}
        <button type="button" class="btn btn-primary" id="scraper">New Scrape</button>
      </div>
    </div>
  </div>
</div>

{{!-- SPACER --}}

<br />

<br />



{{#each article}}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card article" data-article-id="{{this._id}}">
        <div class="card-body">
          <h4 class="card-title">{{this.title}} </h3>
            <p class="byline">By: {{this.byline}}</p>
            <hr>
            <p class="summary">{{this.summary}}</p>
            <a href="{{this.link}}" target="_blank">Link to Article</a>
            <p class="date-scraped">Date Scraped: {{this.dateScraped}}</p>
        </div>
      </div>
    </div>
      {{!-- hook for the note-display --}}
      <div class="col-md-4 note-display">

      </div>

  </div>
</div>
<br />
{{/each}}